@mixin img-cover-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
};
@mixin bg-img-cover-no-repeat {
    background-repeat: no-repeat;
    background-size: cover;
};


// link-style 
@mixin underline-none-and-hover {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
};
@mixin text-ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
//media query
@mixin pad{
    @media (max-width: 992px){
        @content
    }
};

@mixin mobile{
    @media (max-width: 767px){
        @content
    }
};
@mixin mobile-374{
    @media (max-width: 374px){
        @content
    }
};

//space

@mixin top-and-bottom-space-pc{
    padding-top: 64px;
    padding-bottom:80px;
};
@mixin top-and-bottom-space-pad{
    padding-top: 40px;
    padding-bottom:40px;
};
@mixin top-and-bottom-space-mobile{
    padding-top: 32px;
    padding-bottom:32px;
};

//svg-icon-hover-setting
@mixin svg-icon-hover-setting{
    @include bg-img-cover-no-repeat;
    @include img-cover-text;
    margin-right: $margin-size-base;
    transition: all 0.5s ease-in;  
}
