// color
$primary:#8b2e7c;
$primary-dark:#550e55;

$secondary:#212529;
$light:#f7eaf4;

$lonely:#DEE2E6;
$lonely-dark:#707070;
$lonely-light:#DCDCDC;


$coffee:#462312;
$coffee-light:#d6a240;

$black:#000;
$white:#fff;

// font-size
$font-size-base:8px;

$font-size-9:$font-size-base*9; //72px
$font-size-8:$font-size-base*8; //64px
$font-size-7:$font-size-base*7; //56px
$font-size-6:$font-size-base*6; //48px
$font-size-5:$font-size-base*5; //40px
$font-size-4:$font-size-base*4; //32px
$font-size-3:$font-size-base*3; //24px
$font-size-2:$font-size-base*2; //16px

$font-size-lg:$font-size-base*4.5; //36px
$font-size-md:$font-size-base*2.5; //20px
$font-size-sm:$font-size-base*1.75; //14px

$line-height:1.5;

// padding-size
$margin-size-base:8px;

$margin-size-38:$margin-size-base*38; //304px

$margin-size-13:$margin-size-base*13; //104px

$margin-size-10:$margin-size-base*10; //80px
$margin-size-9:$margin-size-base*9; //72px
$margin-size-8:$margin-size-base*8; //64px
$margin-size-7:$margin-size-base*7; //56px
$margin-size-6:$margin-size-base*6; //48px
$margin-size-5:$margin-size-base*5; //40px
$margin-size-4:$margin-size-base*4; //32px
$margin-size-3:$margin-size-base*3; //24px
$margin-size-2:$margin-size-base*2; //16px
