.banner{
    background-image: url(../images/qa.png);
    @include bg-img-cover-no-repeat;
    background-position: center center;
    height: 304px;
    @include mobile{
        height: 143px;
    }
    h2{
        font-size: $font-size-8;
        font-weight: bold;
        text-align: left;
        margin-right: $margin-size-3;
        @include pad{
            font-size: $font-size-6;
            margin-right: $margin-size-2;
        }
        @include mobile{
            font-size: 28px;
            margin-right: $margin-size-base;
        }
    }
    img{
        height: 57.9px;
        display: block;
        @include pad{
            height: 48px;
        }
        @include mobile{
            height: 24px;
        }
    }
}