.blog-navbar{
    a{
        @include underline-none-and-hover;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: $font-size-md;
        font-weight: bold;
        color:$white;
        @include pad{
            font-size: $font-size-2;
       }
    }
    img{
        width: 24px;
        @include mobile{
            display: none;
        }
    }    
}
.card-transform{
    padding-top: 80px;
    padding-bottom: 40px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 72px;
    }
    @include mobile{
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .card-items{
        margin-bottom: 60px;
        @include pad{
            margin-bottom: $margin-size-4;
        }
        @include mobile{
            margin-bottom: $margin-size-3
        }
    }
    .card-img{
        max-width: 635px;
        height: 400px;
        overflow: hidden;
        @include pad{
            max-width: 330px;
            height: 191px;
        }
        @include mobile{
            margin-bottom: $margin-size-base;
        }
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }    
    .card-content p{
        text-align:justify;
        font-size: $font-size-md;
        margin-bottom: $margin-size-2;
        @include pad{
            font-size: $font-size-sm;
            margin-bottom: $margin-size-base;
            //省略文章多出來的字
            @include text-ellipsis;
            //控制文章顯示行數
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    }
    .more-btn{
        font-size: $font-size-4;
        font-weight: bold;
        text-align: right;
        display: block;
        @include underline-none-and-hover ;
        @include pad{
            font-size: $font-size-md;
        }
    }
}
.card-content-header {
    margin-bottom: 26px;
    @include pad{
        margin-bottom: $margin-size-2;
    }
    @include mobile{
        margin-bottom: 0px;
    }
    .card-tittle{        
        h2{
            font-size: $font-size-4;
            font-weight: bold;
            @include pad{
                font-size: $font-size-md;
            }
            @include mobile{
                font-size: $font-size-2;
            }
        }
        h3{
            font-size: $font-size-md;
            font-weight: bold;
            @include pad{
                font-size: $font-size-2;
            }
            @include mobile{
                font-size: $font-size-sm;
            }
        }        
    }
    span{
        font-size: $font-size-2;
        opacity: 0.7;
        @include pad{
            font-size: $font-size-sm;
        }
    }
}
//blog-20200214
.breadcrumb{
    padding-top: 8px;
    padding-bottom: 16px;
    a{
        font-size: $font-size-2;
        color: $black;
        @include underline-none-and-hover;
        &:hover{
            color: $primary;
        }
        @include pad{
            font-size: $font-size-sm;
        }
    }
    .hold{
        color: $primary;
    }
}
.blog-content-header{    
    .card-tittle{
        h2{
            font-size: $font-size-6;
            @include pad{
                font-size: $font-size-4;
            }
            @include mobile{
                font-size: $font-size-md;
            }
        }
        h3{
            font-size: $font-size-3;
            @include pad{
                font-size: $font-size-2
            }
            @include mobile{
                font-size: $font-size-sm
            }
        }
        span{
            font-size: $font-size-2;
            @include pad{
                font-size: $font-size-sm;
            }
        }
    }
}
.badge{
    font-size: $font-size-3;
    font-weight: bold;
    margin-right: $margin-size-2;
    color: $primary;
    @include underline-none-and-hover;
    @include pad{
        font-size: $font-size-2;
        margin-right: $margin-size-base;
    }
    @include mobile{
        font-size: $font-size-sm;
        margin-right: 4px;
    }
}
.blog-content{
    margin-bottom: $margin-size-2;
    img{
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: $margin-size-3;
        @include pad{
            margin-bottom: $margin-size-2;
        }
    }
    p{
        color:#0A0A0A;
        font-size: $font-size-md;
        margin-bottom: $margin-size-4;
        @include pad{
            font-size: $font-size-2;
            margin-bottom: $margin-size-3;
        }
    }
}
.blog-sidebar{
    padding-top: 40px;
    @include pad{
        padding-top: 32px;
    }
    @include mobile{
        padding-top: 0px;
        margin-bottom: $margin-size-7;
    }
    img{
        width: 48px;
        height: 48px;
        margin-right: $margin-size-base;
        @include pad{
            width: 24px;
            height: 24px;
            margin-right: 0px;
        }
    }
    h4{
        font-weight: bold;
        font-size: 28px;
        @include pad{
            font-size: $font-size-md;
        }
    }
    >:nth-child(1){
        margin-bottom: $margin-size-base;
    }
    .badge{
        margin-right: $margin-size-3;
        @include pad{
            margin-right: $margin-size-2;
        }
        @include mobile{
            margin-right: $margin-size-base;
        }
    }
}
.blog-content-footer{
    margin-bottom: $margin-size-38;
    @include pad{
        margin-bottom: $margin-size-13;
    }
    @include mobile{
        margin-bottom: $margin-size-5;
    }
    p{
        font-size: $font-size-md;
        @include pad{
            font-size: $font-size-2;
        }
        @include mobile{
            font-size: $font-size-sm;
        }
    }
    img{
        width: 24px;
        height: auto;
        display: block;
        @include pad{
            width: 20px;
        }
        @include mobile{
            width: 16px;
        }
    }
    .blog-share{
        padding-bottom: 16px;
        border-bottom: 1px solid $lonely-dark;
        p,img{
            margin-right: $margin-size-2;
        }
    }
    .blog-pages {
        padding-top: 24px;
        @include pad{
            padding-top: 16px;
        }
        @include mobile{
            padding-top:8px;
        }
        a{
            @include underline-none-and-hover;
            color: $black;
        }
        p{
            padding: 0 8px;
        }
    }
}