/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.profession, .series, .block, .card, .form {
  padding-top: 64px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .profession, .series, .block, .card, .form {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .profession, .series, .block, .card, .form {
      padding-top: 32px;
      padding-bottom: 32px; } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans','sans-serif';
  line-height: 1.5; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jucetify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jucetify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.jucetify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jucetify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-cener {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

@media (max-width: 992px) {
  .flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 992px) {
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 992px) {
  .flex-md-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 767px) {
  .flex-sm-default {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (max-width: 767px) {
  .jucetify-sm-default {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (max-width: 767px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .flex-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 767px) {
  .display-mobile-none {
    display: none !important; } }

.container-fluid {
  background-color: #8b2e7c; }

.container-fluid-light {
  background-color: #f7eaf4; }

.container-fluid-primary-dark {
  background-color: #550e55; }

.text-color {
  color: #fff; }

.text-color-primary {
  color: #8b2e7c; }

.text-color-primary-dark {
  color: #550e55; }

.text-color-black {
  color: #000; }

.text-align-center {
  text-align: center; }

.h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .h3 {
      font-size: 32px;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .h3 {
      font-size: 24px;
      margin-bottom: 24px; } }
  @media (max-width: 374px) {
    .h3 {
      font-size: 16px; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 756px;
      padding: 0 39px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 352px;
      padding: 0 15px; } }

.profession, .series, .block, .card, .form {
  padding-top: 64px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .profession, .series, .block, .card, .form {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .profession, .series, .block, .card, .form {
      padding-top: 32px;
      padding-bottom: 32px; } }

.col-3 {
  width: 23.25%; }

.col-4 {
  width: 31%; }

.col-5 {
  width: 38.75%; }

.col-6 {
  width: 46.5%; }

.col-7 {
  width: 54.25%; }

.col-8 {
  width: 62%; }

.col-9 {
  width: 69.75%; }

@media (max-width: 992px) {
  .col-md-2 {
    width: 15.5%; } }

@media (max-width: 992px) {
  .col-md-6 {
    width: 46.5%; } }

@media (max-width: 992px) {
  .col-md-10 {
    width: 77.5%; } }

@media (max-width: 992px) {
  .col-md-12 {
    width: 100%; } }

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%; } }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

@media (max-width: 992px) {
  .mr-md-4 {
    margin-right: 32px; } }

@media (max-width: 767px) {
  .mr-sm-0 {
    margin-right: 0px; } }

.header {
  max-width: 1744px;
  margin: 0 auto;
  padding: 0 88px; }
  @media (max-width: 992px) {
    .header {
      max-width: 690px;
      padding: 0 39px; } }
  @media (max-width: 767px) {
    .header {
      max-width: 100%;
      padding: 0 0px; } }
  @media (max-width: 767px) {
    .header .header-logo {
      width: 100%;
      padding: 10px 0; } }
  .header .header-logo .logo {
    display: block;
    width: 80px;
    height: 48.57px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .header .header-logo .logo {
        width: 48px;
        height: 29.14px;
        margin: 0 auto; } }

.navbar {
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 992px) {
    .navbar {
      width: 80%; } }
  @media (max-width: 767px) {
    .navbar {
      width: 100%; } }
  @media (max-width: 767px) {
    .navbar li {
      border: 1px solid #fff;
      text-align: center;
      width: 50%; } }
  .navbar a {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    display: block;
    padding: 40px 32px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .navbar a:hover {
      background-color: #550e55; }
    @media (max-width: 992px) {
      .navbar a {
        padding: 40px 20px; } }
    @media (max-width: 767px) {
      .navbar a {
        padding: 8px 0px; } }

.footer {
  padding-top: 32px;
  padding-bottom: 8px; }
  .footer a {
    text-decoration: none;
    color: #fff; }
    .footer a:hover {
      text-decoration: underline; }

.contacts {
  padding: 4px 0;
  border-bottom: 1px solid #ffffff; }
  .contacts li {
    margin-bottom: 16px; }
  .contacts .navbar {
    width: 100%;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .contacts .navbar {
        display: none; } }
    .contacts .navbar a {
      display: block;
      padding: 0 24px;
      font-size: 16px; }
      .contacts .navbar a:hover {
        background-color: #8b2e7c; }

.socialmedia-logo {
  width: 20%; }
  @media (max-width: 992px) {
    .socialmedia-logo {
      width: 15%; } }
  @media (max-width: 767px) {
    .socialmedia-logo {
      width: 30%; } }
  @media (max-width: 992px) {
    .socialmedia-logo img {
      width: 24px;
      height: auto; } }

.contacts-menu {
  font-size: 32px; }
  @media (max-width: 992px) {
    .contacts-menu {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .contacts-menu {
      font-size: 16px; } }
  .contacts-menu img {
    margin-right: 12px; }
    @media (max-width: 992px) {
      .contacts-menu img {
        width: 32px;
        height: auto; } }
    @media (max-width: 767px) {
      .contacts-menu img {
        width: 20px;
        height: auto; } }

.footer-infor {
  padding: 24px 0; }
  @media (max-width: 767px) {
    .footer-infor {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  @media (max-width: 992px) {
    .footer-infor > a {
      display: none; } }
  @media (max-width: 767px) {
    .footer-infor > a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (max-width: 767px) {
    .footer-infor > a img {
      width: 42px;
      height: auto; } }
  .footer-infor .copyright {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .footer-infor .copyright {
        width: 100%; } }
    @media (max-width: 767px) {
      .footer-infor .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer-infor .copyright p {
      font-size: 16px;
      margin-bottom: 8px; }
      @media (max-width: 767px) {
        .footer-infor .copyright p {
          font-size: 14px; } }
    .footer-infor .copyright ul {
      width: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 14px; }
      @media (max-width: 767px) {
        .footer-infor .copyright ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 100%; } }
      @media (max-width: 767px) {
        .footer-infor .copyright ul li {
          margin-bottom: 8px; } }

.banner {
  background-image: url(../images/qa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 304px; }
  @media (max-width: 767px) {
    .banner {
      height: 143px; } }
  .banner h2 {
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    margin-right: 24px; }
    @media (max-width: 992px) {
      .banner h2 {
        font-size: 48px;
        margin-right: 16px; } }
    @media (max-width: 767px) {
      .banner h2 {
        font-size: 28px;
        margin-right: 8px; } }
  .banner img {
    height: 57.9px;
    display: block; }
    @media (max-width: 992px) {
      .banner img {
        height: 48px; } }
    @media (max-width: 767px) {
      .banner img {
        height: 24px; } }

.pages-btn {
  padding-bottom: 156px;
  font-size: 16px; }
  @media (max-width: 992px) {
    .pages-btn {
      padding-bottom: 104px; } }
  @media (max-width: 767px) {
    .pages-btn {
      font-size: 12px;
      padding-bottom: 56px; } }
  .pages-btn a {
    text-decoration: none;
    color: #555555;
    padding: 10px 12px;
    border: 1px solid #555555; }
    .pages-btn a:hover {
      background-color: #000; }
    @media (max-width: 767px) {
      .pages-btn a {
        padding: 8px 8px; } }
  .pages-btn .active a {
    background-color: #000; }
  .pages-btn :nth-last-child(1) a {
    background-color: #F2F2F2; }
    .pages-btn :nth-last-child(1) a:hover {
      background-color: #000; }

/*banner*/
.banner-index {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
  text-align: right; }
  @media (max-width: 992px) {
    .banner-index {
      background-image: url(../images/banner-sm.png); } }
  .banner-index p {
    font-size: 36px; }
    @media (max-width: 992px) {
      .banner-index p {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .banner-index p {
        font-size: 16px; } }
  .banner-index h2 {
    font-size: 64px;
    font-weight: bold; }
    @media (max-width: 992px) {
      .banner-index h2 {
        font-size: 48px; } }
    @media (max-width: 767px) {
      .banner-index h2 {
        font-size: 32px; } }

/*service*/
.profession .profession-group {
  padding: 0 69px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (max-width: 992px) {
    .profession .profession-group {
      padding: 0 47px; } }
  @media (max-width: 767px) {
    .profession .profession-group {
      padding: 0 54px; } }

.profession .profession-item {
  width: 19%;
  padding: 0 auto; }
  @media (max-width: 992px) {
    .profession .profession-item {
      width: 45%;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .profession .profession-item {
      width: 100%; } }

.profession img {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .profession img {
      margin-bottom: 16px; } }

.profession h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px; }
  @media (max-width: 992px) {
    .profession h4 {
      font-size: 20px; } }
  @media (max-width: 374px) {
    .profession h4 {
      font-size: 14px; } }

.profession p {
  font-size: 16px;
  text-align: left; }
  @media (max-width: 374px) {
    .profession p {
      font-size: 14px; } }

/*series*/
.series .series-item {
  margin-bottom: 32px; }
  .series .series-item a {
    text-decoration: none; }
  .series .series-item img {
    max-width: 635px;
    height: auto;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    @media (max-width: 992px) {
      .series .series-item img {
        max-width: 390px; } }
    @media (max-width: 767px) {
      .series .series-item img {
        max-width: 345px; } }
    @media (max-width: 374px) {
      .series .series-item img {
        max-width: 290px; } }
  @media (max-width: 992px) {
    .series .series-item {
      margin-bottom: 8px; } }
  @media (max-width: 992px) {
    .series .series-item .series-casual {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

@media (max-width: 767px) {
  .series-heels, .series-casual, .series-functional {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.series-heels img, .series-casual img, .series-functional img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.series-topic {
  padding: 0 30px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (max-width: 767px) {
    .series-topic {
      padding: 0px 0px;
      position: absolute;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .series-topic h4 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #8b2e7c;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    @media (max-width: 992px) {
      .series-topic h4 {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .series-topic h4 {
        color: #fff;
        text-shadow: 2px 3px 6px #000; } }

.series-icon-diamond {
  background-image: url(../images/icon-diamond.svg);
  width: 48px;
  height: 37.73px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (max-width: 992px) {
    .series-icon-diamond {
      width: 32px;
      height: 25.16px; } }
  @media (max-width: 767px) {
    .series-icon-diamond {
      background-image: url(../images/icon-diamond-white.svg);
      width: 32px;
      height: 25.16px; } }

.series-heels:hover .series-icon-diamond {
  background-image: url(../images/icon-diamond-black.svg); }

.series-heels:hover h4 {
  color: #000; }

.series-heels:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0); }

.series-heels:hover .series-topic {
  position: relative;
  top: 3px;
  left: 3px; }

.series-icon-sun {
  background-image: url(../images/icon-sun.svg);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (max-width: 992px) {
    .series-icon-sun {
      width: 32px;
      height: 32px; } }
  @media (max-width: 767px) {
    .series-icon-sun {
      background-image: url(../images/icon-sun-white.svg);
      width: 32px;
      height: 32px; } }

.series-casual:hover .series-icon-sun {
  background-image: url(../images/icon-sun-black.svg); }

.series-casual:hover h4 {
  color: #000; }

.series-casual:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0); }

.series-casual:hover .series-topic {
  position: relative;
  top: 3px;
  left: 3px; }
  @media (max-width: 767px) {
    .series-casual:hover .series-topic {
      position: static;
      top: 0px;
      left: 0px; } }

.series-icon-thunder {
  background-image: url(../images/icon-thunder.svg);
  width: 35.2px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (max-width: 992px) {
    .series-icon-thunder {
      width: 23px;
      height: 32px; } }
  @media (max-width: 767px) {
    .series-icon-thunder {
      background-image: url(../images/icon-thunder-white.svg);
      width: 23px;
      height: 32px; } }

.series-functional:hover .series-icon-thunder {
  background-image: url(../images/icon-thunder-black.svg); }

.series-functional:hover h4 {
  color: #000; }

.series-functional:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0); }

.series-functional:hover .series-topic {
  position: relative;
  top: 3px;
  left: 3px; }

/*block*/
.jumbotron-fluid {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto; }

@media (max-width: 767px) {
  .block-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.block-menu .block-son {
  background-image: url(../images/product-8.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 472px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .block-menu .block-son:hover .block-item {
    opacity: 0; }
  .block-menu .block-son:hover h4 {
    color: #fff;
    text-shadow: 2px 2px 6px #000; }
  @media (max-width: 992px) {
    .block-menu .block-son {
      width: 330px;
      height: 280px; } }
  @media (max-width: 767px) {
    .block-menu .block-son {
      width: 345px;
      height: 284px;
      margin-bottom: 16px; } }
  @media (max-width: 374px) {
    .block-menu .block-son {
      width: 290px;
      height: 274px; } }

.block-menu .block-daughter {
  background-image: url(../images/product-9.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 472px;
  position: relative; }
  .block-menu .block-daughter:hover .block-item {
    opacity: 0; }
  .block-menu .block-daughter:hover h4 {
    color: #fff;
    text-shadow: 2px 2px 6px #000; }
  @media (max-width: 992px) {
    .block-menu .block-daughter {
      width: 330px;
      height: 280px; } }
  @media (max-width: 767px) {
    .block-menu .block-daughter {
      width: 345px;
      height: 284px;
      margin-bottom: 16px; } }
  @media (max-width: 374px) {
    .block-menu .block-daughter {
      width: 290px;
      height: 274px; } }

.block-menu .block-item {
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.block-menu h4 {
  color: #8b2e7c;
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (max-width: 992px) {
    .block-menu h4 {
      font-size: 32px; } }

.block-menu a {
  width: 100%;
  height: 100%;
  position: absolute; }

.card .card-items {
  margin-bottom: 32px;
  border: 1px solid #DEE2E6;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (max-width: 992px) {
    .card .card-items {
      width: 48%;
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .card .card-items {
      width: 100%;
      margin-bottom: 16px; } }
  @media (max-width: 374px) {
    .card .card-items {
      max-width: 290px; } }
  .card .card-items img {
    width: 100%;
    height: auto;
    display: block; }
  .card .card-items > a {
    text-decoration: none;
    color: #000; }
  .card .card-items:hover {
    -webkit-box-shadow: 3px 3px 10px #DEE2E6;
            box-shadow: 3px 3px 10px #DEE2E6;
    position: relative;
    top: 2px;
    left: 2px; }

.card .card-content {
  padding: 16px;
  font-size: 14px; }
  .card .card-content h4 {
    margin-bottom: 8px; }
  .card .card-content p {
    font-size: 16px;
    margin-bottom: 16px; }
  .card .card-content span {
    color: #707070; }

.form {
  max-width: 730px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .form {
      max-width: 450px; } }
  @media (max-width: 767px) {
    .form {
      max-width: 345px; } }
  @media (max-width: 374px) {
    .form {
      max-width: 290px; } }
  .form p {
    font-size: 20px;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .form p {
        font-size: 16px;
        margin-bottom: 12px; } }
    @media (max-width: 767px) {
      .form p {
        margin-bottom: 8px; } }
  .form label {
    font-size: 16px; }
    @media (max-width: 992px) {
      .form label {
        font-size: 8px; } }
  .form input, .form textarea {
    width: 730px;
    font-size: 16px;
    color: #550e55;
    padding: 16px 16px;
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .form input, .form textarea {
        width: 450px;
        margin-bottom: 8px;
        font-size: 8px; } }
    @media (max-width: 767px) {
      .form input, .form textarea {
        width: 345px; } }
    @media (max-width: 374px) {
      .form input, .form textarea {
        width: 290px; } }
  .form .form-feedback {
    height: 136px; }
    @media (max-width: 992px) {
      .form .form-feedback {
        height: 100px; } }
  .form .form-check {
    margin-bottom: 42px; }
    @media (max-width: 992px) {
      .form .form-check {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .form .form-check {
        margin-bottom: 24px; } }
    .form .form-check .form-checkbox {
      width: 24px;
      height: 24px;
      margin-right: 4px; }
    .form .form-check span {
      text-align: left;
      font-size: 16px; }
      @media (max-width: 992px) {
        .form .form-check span {
          font-size: 14px; } }
  .form .form-submit {
    width: 350px;
    height: 54px;
    padding: 0 0;
    color: #fff;
    background-color: #8b2e7c;
    border: 1px solid #550e55;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .form .form-submit:hover {
      background-color: #550e55;
      position: relative;
      top: 2px; }
    @media (max-width: 992px) {
      .form .form-submit {
        width: 210px;
        height: 36px; } }
    @media (max-width: 767px) {
      .form .form-submit {
        width: 165px; } }

.product-nav {
  max-width: 1386px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .product-nav {
      max-width: 100%; } }
  .product-nav li {
    width: calc(100% / 3);
    border: 1px solid #DCDCDC; }
    @media (max-width: 992px) {
      .product-nav li {
        height: 69px; } }
    @media (max-width: 767px) {
      .product-nav li {
        height: 35px; } }
  .product-nav a {
    text-decoration: none;
    position: relative;
    padding: 24px 117px; }
    @media (max-width: 992px) {
      .product-nav a {
        padding: 16px 0px; } }
    @media (max-width: 767px) {
      .product-nav a {
        padding: 8px 0px; } }
    .product-nav a::before {
      content: ' ';
      border-bottom: 16px solid #8b2e7c;
      position: absolute;
      width: 0;
      opacity: 0;
      left: 0px;
      bottom: 0px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      @media (max-width: 992px) {
        .product-nav a::before {
          border-bottom-width: 8px; } }
      @media (max-width: 767px) {
        .product-nav a::before {
          border-bottom-width: 4px; } }
    .product-nav a:hover::before {
      width: 100%;
      opacity: 1; }
  .product-nav .active > a::before {
    width: 100%;
    opacity: 1; }
  .product-nav img {
    width: 48px;
    height: auto;
    margin-right: 8px; }
    @media (max-width: 992px) {
      .product-nav img {
        width: 32px; } }
    @media (max-width: 767px) {
      .product-nav img {
        margin-right: 4px;
        width: 15px; } }
  .product-nav p {
    font-size: 42px;
    font-weight: bold;
    color: #000; }
    @media (max-width: 992px) {
      .product-nav p {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .product-nav p {
        font-size: 14px; } }

.product-banner img {
  width: 49%;
  height: auto;
  display: block; }
  @media (max-width: 992px) {
    .product-banner img {
      width: 50%; } }

.product-card {
  padding-top: 88px; }
  @media (max-width: 992px) {
    .product-card {
      padding-top: 40px; } }
  .product-card h3 {
    font-size: 42px; }
    @media (max-width: 992px) {
      .product-card h3 {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .product-card h3 {
        font-size: 20px; } }
  .product-card h4 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .product-card h4 {
        font-size: 24px;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .product-card h4 {
        font-size: 16px;
        margin-bottom: 20px; } }
  .product-card .card-items {
    margin-bottom: 104px; }
    @media (max-width: 992px) {
      .product-card .card-items {
        width: 48%;
        margin-bottom: 72px; } }
    @media (max-width: 767px) {
      .product-card .card-items {
        width: 100%;
        margin-bottom: 32px; } }
    .product-card .card-items img {
      width: 100%;
      height: 164px;
      display: block;
      -o-object-fit: cover;
         object-fit: cover; }
      @media (max-width: 767px) {
        .product-card .card-items img {
          height: 166px; } }
    .product-card .card-items .card-content {
      margin-bottom: 8px; }
      @media (max-width: 992px) {
        .product-card .card-items .card-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
    .product-card .card-items a {
      text-decoration: none;
      font-size: 24px;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .product-card .card-items a {
          font-size: 16px; } }
    .product-card .card-items p {
      color: #000; }
    .product-card .card-items span {
      color: #8b2e7c; }

.card-color-sample .color-block {
  width: 24px;
  height: 24px;
  border-radius: 4px; }
  @media (max-width: 767px) {
    .card-color-sample .color-block {
      width: 16px;
      height: 16px; } }

.card-color-sample :nth-child(1) {
  background-color: #462312;
  margin-right: 8px; }
  @media (max-width: 767px) {
    .card-color-sample :nth-child(1) {
      margin-right: 4px; } }

.card-color-sample :nth-child(2) {
  background-color: #d6a240; }

.location-form {
  padding-top: 16px;
  padding-bottom: 32px; }
  @media (max-width: 992px) {
    .location-form {
      padding-top: 8px;
      padding-bottom: 24px; } }
  @media (max-width: 767px) {
    .location-form {
      padding-bottom: 20px; } }
  .location-form label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; }
    @media (max-width: 992px) {
      .location-form label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .location-form label {
        font-size: 14px;
        margin-right: 12px; } }
  .location-form select {
    font-size: 18px;
    padding: 10px 20px;
    width: 324px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #CED4DA;
    line-height: 1; }
    @media (max-width: 992px) {
      .location-form select {
        font-size: 16px;
        padding: 12px 16px;
        width: 237px;
        height: 46px; } }
    @media (max-width: 767px) {
      .location-form select {
        font-size: 14px;
        padding: 8px 16px;
        width: 250px;
        height: 36px; } }

.location-card {
  margin-bottom: 272px; }
  @media (max-width: 992px) {
    .location-card {
      margin-bottom: 80px; } }
  @media (max-width: 767px) {
    .location-card {
      padding-bottom: 40px; } }
  .location-card .card-items {
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .location-card .card-items {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .location-card .card-items {
        margin-bottom: 16px; } }
    @media (max-width: 374px) {
      .location-card .card-items {
        max-width: 290px; } }
    .location-card .card-items > img {
      width: 100%;
      height: 224px;
      display: block;
      -o-object-fit: cover;
         object-fit: cover; }
  .location-card h3 {
    font-size: 24px;
    padding: 12px 24px;
    border-bottom: 1px solid #00000020; }
    @media (max-width: 992px) {
      .location-card h3 {
        font-size: 16px;
        padding: 8px 16px; } }
  .location-card .card-infor {
    padding: 16px 24px;
    border-bottom: 1px solid #00000020; }
    .location-card .card-infor li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .location-card .card-infor img {
      width: 20px;
      margin-right: 16px; }
    .location-card .card-infor p {
      font-size: 20px; }
      @media (max-width: 992px) {
        .location-card .card-infor p {
          font-size: 14px; } }
    .location-card .card-infor :nth-child(1), .location-card .card-infor :nth-child(2) {
      margin-bottom: 8px; }
  .location-card .card-btn {
    display: block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 20px 0; }
    @media (max-width: 992px) {
      .location-card .card-btn {
        font-size: 14px;
        padding: 16px 0; } }
    .location-card .card-btn:hover {
      background-color: #8b2e7c; }

.questions {
  padding-top: 80px;
  padding-bottom: 264px; }
  @media (max-width: 992px) {
    .questions {
      padding-bottom: 64px; } }
  @media (max-width: 767px) {
    .questions {
      padding-top: 40px;
      padding-bottom: 36px; } }
  .questions h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .questions h3 {
        font-size: 20px;
        margin-bottom: 16px; } }
  .questions .questions-item {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .questions .questions-item {
        margin-bottom: 20px; } }
    .questions .questions-item h4 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px; }
      @media (max-width: 767px) {
        .questions .questions-item h4 {
          font-size: 16px;
          margin-bottom: 8px; } }
    .questions .questions-item p {
      font-size: 16px;
      padding-left: 95px; }
      @media (max-width: 992px) {
        .questions .questions-item p {
          padding-left: 45px; } }
      @media (max-width: 767px) {
        .questions .questions-item p {
          font-size: 14px;
          padding-left: 0px; } }

.blog-navbar a {
  text-decoration: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #fff; }
  .blog-navbar a:hover {
    text-decoration: underline; }
  @media (max-width: 992px) {
    .blog-navbar a {
      font-size: 16px; } }

.blog-navbar img {
  width: 24px; }
  @media (max-width: 767px) {
    .blog-navbar img {
      display: none; } }

.card-transform {
  padding-top: 80px;
  padding-bottom: 40px; }
  @media (max-width: 992px) {
    .card-transform {
      padding-top: 40px;
      padding-bottom: 72px; } }
  @media (max-width: 767px) {
    .card-transform {
      padding-top: 24px;
      padding-bottom: 16px; } }
  .card-transform .card-items {
    margin-bottom: 60px; }
    @media (max-width: 992px) {
      .card-transform .card-items {
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .card-transform .card-items {
        margin-bottom: 24px; } }
  .card-transform .card-img {
    max-width: 635px;
    height: 400px;
    overflow: hidden; }
    @media (max-width: 992px) {
      .card-transform .card-img {
        max-width: 330px;
        height: 191px; } }
    @media (max-width: 767px) {
      .card-transform .card-img {
        margin-bottom: 8px; } }
  .card-transform img {
    display: block;
    width: 100%;
    height: auto; }
  .card-transform .card-content p {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .card-transform .card-content p {
        font-size: 14px;
        margin-bottom: 8px;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal; } }
  .card-transform .more-btn {
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    display: block;
    text-decoration: none; }
    .card-transform .more-btn:hover {
      text-decoration: underline; }
    @media (max-width: 992px) {
      .card-transform .more-btn {
        font-size: 20px; } }

.card-content-header {
  margin-bottom: 26px; }
  @media (max-width: 992px) {
    .card-content-header {
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .card-content-header {
      margin-bottom: 0px; } }
  .card-content-header .card-tittle h2 {
    font-size: 32px;
    font-weight: bold; }
    @media (max-width: 992px) {
      .card-content-header .card-tittle h2 {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .card-content-header .card-tittle h2 {
        font-size: 16px; } }
  .card-content-header .card-tittle h3 {
    font-size: 20px;
    font-weight: bold; }
    @media (max-width: 992px) {
      .card-content-header .card-tittle h3 {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .card-content-header .card-tittle h3 {
        font-size: 14px; } }
  .card-content-header span {
    font-size: 16px;
    opacity: 0.7; }
    @media (max-width: 992px) {
      .card-content-header span {
        font-size: 14px; } }

.breadcrumb {
  padding-top: 8px;
  padding-bottom: 16px; }
  .breadcrumb a {
    font-size: 16px;
    color: #000;
    text-decoration: none; }
    .breadcrumb a:hover {
      text-decoration: underline; }
    .breadcrumb a:hover {
      color: #8b2e7c; }
    @media (max-width: 992px) {
      .breadcrumb a {
        font-size: 14px; } }
  .breadcrumb .hold {
    color: #8b2e7c; }

.blog-content-header .card-tittle h2 {
  font-size: 48px; }
  @media (max-width: 992px) {
    .blog-content-header .card-tittle h2 {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .blog-content-header .card-tittle h2 {
      font-size: 20px; } }

.blog-content-header .card-tittle h3 {
  font-size: 24px; }
  @media (max-width: 992px) {
    .blog-content-header .card-tittle h3 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .blog-content-header .card-tittle h3 {
      font-size: 14px; } }

.blog-content-header .card-tittle span {
  font-size: 16px; }
  @media (max-width: 992px) {
    .blog-content-header .card-tittle span {
      font-size: 14px; } }

.badge {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
  color: #8b2e7c;
  text-decoration: none; }
  .badge:hover {
    text-decoration: underline; }
  @media (max-width: 992px) {
    .badge {
      font-size: 16px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .badge {
      font-size: 14px;
      margin-right: 4px; } }

.blog-content {
  margin-bottom: 16px; }
  .blog-content img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .blog-content img {
        margin-bottom: 16px; } }
  .blog-content p {
    color: #0A0A0A;
    font-size: 20px;
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .blog-content p {
        font-size: 16px;
        margin-bottom: 24px; } }

.blog-sidebar {
  padding-top: 40px; }
  @media (max-width: 992px) {
    .blog-sidebar {
      padding-top: 32px; } }
  @media (max-width: 767px) {
    .blog-sidebar {
      padding-top: 0px;
      margin-bottom: 56px; } }
  .blog-sidebar img {
    width: 48px;
    height: 48px;
    margin-right: 8px; }
    @media (max-width: 992px) {
      .blog-sidebar img {
        width: 24px;
        height: 24px;
        margin-right: 0px; } }
  .blog-sidebar h4 {
    font-weight: bold;
    font-size: 28px; }
    @media (max-width: 992px) {
      .blog-sidebar h4 {
        font-size: 20px; } }
  .blog-sidebar > :nth-child(1) {
    margin-bottom: 8px; }
  .blog-sidebar .badge {
    margin-right: 24px; }
    @media (max-width: 992px) {
      .blog-sidebar .badge {
        margin-right: 16px; } }
    @media (max-width: 767px) {
      .blog-sidebar .badge {
        margin-right: 8px; } }

.blog-content-footer {
  margin-bottom: 304px; }
  @media (max-width: 992px) {
    .blog-content-footer {
      margin-bottom: 104px; } }
  @media (max-width: 767px) {
    .blog-content-footer {
      margin-bottom: 40px; } }
  .blog-content-footer p {
    font-size: 20px; }
    @media (max-width: 992px) {
      .blog-content-footer p {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blog-content-footer p {
        font-size: 14px; } }
  .blog-content-footer img {
    width: 24px;
    height: auto;
    display: block; }
    @media (max-width: 992px) {
      .blog-content-footer img {
        width: 20px; } }
    @media (max-width: 767px) {
      .blog-content-footer img {
        width: 16px; } }
  .blog-content-footer .blog-share {
    padding-bottom: 16px;
    border-bottom: 1px solid #707070; }
    .blog-content-footer .blog-share p, .blog-content-footer .blog-share img {
      margin-right: 16px; }
  .blog-content-footer .blog-pages {
    padding-top: 24px; }
    @media (max-width: 992px) {
      .blog-content-footer .blog-pages {
        padding-top: 16px; } }
    @media (max-width: 767px) {
      .blog-content-footer .blog-pages {
        padding-top: 8px; } }
    .blog-content-footer .blog-pages a {
      text-decoration: none;
      color: #000; }
      .blog-content-footer .blog-pages a:hover {
        text-decoration: underline; }
    .blog-content-footer .blog-pages p {
      padding: 0 8px; }

/*# sourceMappingURL=all.css.map */
