.pages-btn{
    padding-bottom: 156px;
    font-size: 16px;
    @include pad{
        padding-bottom: 104px;
    }
    @include mobile{
        font-size: 12px;
        padding-bottom: 56px;
    }    
    a{
        text-decoration: none;
        color: #555555;
        padding: 10px 12px;
        border: 1px solid #555555;
        &:hover{
            background-color: $black;
        }
        @include mobile{
            padding:8px 8px;
        }
    }
    .active a{
        background-color: $black;
    }
    :nth-last-child(1) a{
        background-color: #F2F2F2;
        &:hover{
            background-color: $black;
        }
    }
}